.spinner {
  height: 18px;
  width: 18px;
  opacity: 0.7;
}

.spinner img {
  width: 18px;
  height: 18px;
  animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
