.carousel {
  position: relative;
  width: 100%;
  padding: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 30px;
}

.slides {
  position: relative;
  width: 100%;
  transition: transform 0.7s ease;
}

.slide {
  position: relative;
  width: 100%;
  /* overflow: visible; important so spacer can show */
  margin-bottom: 20px;
  overflow: hidden;
}

.video {
  width: 100%;
  object-fit: cover;
  display: block;

  border-radius: 10px;
  overflow: hidden;
}

.text {
  height: 60px;
  display: flex;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);

  pointer-events: none;
  transition: transform 0.7s ease;
}

.pills {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pill {
  width: 4px;
  height: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.pill.active {
  background: white;
}

.controls {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controlBtn {
  width: 46px;
  height: 46px;
  background: white;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 700;
  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s;
}

.videoWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.overlayControls {
  position: absolute;
  bottom: -54px;
  left: 0px;
  width: 100%;
  transition: bottom 0.2s;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.overlayControlsControls {
  display: flex;
  align-items: center;
  gap: 12px;
  pointer-events: auto;
  width: 50%;
  padding: 8px;
}

.videoWrapper:hover .overlayControls {
  bottom: 0px;
}

.playBtn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.85);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressBar {
  flex: 1;
  height: 6px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.progressFill {
  height: 100%;
  background: white;
  width: 0%;
}
