.section {
  display: flex;
  dlex-direction: row;
  gap: 16px;
  padding: 0px 16px;
}

.titletext {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.subsection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.container:not(.last) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 16px;
}
