.hero {
  padding: 48px 0;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

.hero > div {
  flex: 1;
}

.title {
  font-size: 3em;
  font-weight: 400;
  margin: 0;
}

.title span {
  color: var(--accent);
}

.hero p {
  font-size: 1.2em;
  color: var(--body-contrast-primary);
  margin: 0;
  line-height: 1.5;
}
