.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--primary);
  color: var(--primary-contrast-primary);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  gap: 8px;
}

.logo {
  height: 32px;
}

.link {
  color: var(--primary-contrast-secondary);
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  transition: background-color 100ms ease;
}

.link:hover {
  background-color: color-mix(
    in srgb,
    var(--primary) 90%,
    var(--primary-contrast-primary)
  );
}

.logolink {
  transition: opacity 100ms ease;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logolink:hover {
  opacity: 0.7;
}
