.tabs {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid var(--border);
  margin-top: 16px;
}

.tab {
  padding: 8px 0px;
  background: transparent;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid transparent;
  border-bottom-color: var(--border);
  border-bottom-width: 0px;
  transition: background 140ms ease, color 140ms ease, border-color 140ms ease;
}

.tab:not(.active):hover {
  border-bottom: 3px solid var(--border);
}

.active {
  border-bottom: 3px solid var(--accent);
}
