.h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}
.h2 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 0.5em;
}
.h3 {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.3;
  margin: 0;
}
.lead {
  font-size: 1em;
  color: var(--muted);
  margin: 0;
}
.muted {
  color: var(--muted);
}
