name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  # lint:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v3

  #     - name: Set up Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: "lts/*"

  #     - name: Install backend Dependencies
  #       working-directory: ./api
  #       run: yarn install

  #     - name: Install frontend Dependencies
  #       working-directory: ./app
  #       run: yarn install

  #     - name: Run backend lint
  #       working-directory: ./api
  #       run: yarn lint

  #     - name: Run frontend lint
  #       working-directory: ./app
  #       run: yarn lint

  docker:
    runs-on: ubuntu-latest
    # needs:
    #   - test
    #   - lint
    if: github.ref == 'refs/heads/main' # Ensures this job runs only on the main branch
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: jackcranee/featurebench:0.0.1
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}
